
  
   
  
    <div id="wrapper">
      <h1>MongoDB News Scrapper Scraper</h1>
      <h2><i>Scraping from the Chicago Tribune!.</i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>