<!DOCTYPE html5>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Scraping News Via Mongoose</title>
  </head>
  <body>
    <div id="wrapper">
      <h1>MongoDB News Scrapper Scraper</h1>
      <h2><i>If you can do this...the homework should be no problem.</i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/assets/javascript/app.js"></script>
    <script src="/scripts/scrape.js"></script>
  </body>
</html>